* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #fff;
    height: 80px;
    overflow: hidden;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    /* width: 100%; */
}

.logo a {
    margin-left: 50px;
    margin-top: 8px;
    float: left;
    color: #1E387B;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
}

.logo a:hover {
    color: #0077B5;
}

.login a:hover {
    color: #0077B5;
    border-bottom: 1px solid #1E387B;
}

.login a {
    margin-right: 40px;
    margin-top: 25px;
    float: right;
    text-decoration: none;
    color: #1E387B;
}

nav {
    /* background-color: brown; */
    float: left;
    height: 80vh;
    width: 10%;
    color: white;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #1E387B;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px;
}

nav a:hover {
    color: #fff;
    background-color: #1E387B;
    border-bottom: 2px solid #1E387B;
    border-radius: 50px;
}

aside {
    /* background-color: brown; */
    float: right;
    width: 20%;
    height: auto;
    color: #1E387B;
    margin-right: 10%;
    padding-top: 5%;
}

article {
    margin-bottom: 10%;
}

aside h3 {
    font-size: 2em;
    text-align: center;
}

article h5 {
    color: #1E387B;
    font-weight: normal;
    font-size: 1em;
    padding: 2px;
    padding-top: 2px;
    margin-top: 5px;
}

main {
    /* background-color: beige; */
    width: 50%;
    /* height: 200vh; */
    float: left;
    padding-top: 5%;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 3em;
    color: #1E387B;
}

#bttn {
    margin-top: 50px;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 40px;
    border: 1px solid #1E387B;
    background-color: #1E387B;
}

#bttn:hover {
    background-color: #fff;
    color: #1E387B;
}

section {
    margin: 5%;
}

footer {
    background-color: rgba(200, 200, 200, 0.2);
    height: 200px;
    width: 100%;
    overflow: hidden;
    font-weight: normal;
    align-items: center;
    padding-top: 1%;
    box-shadow: ;
}

footer a {
    text-decoration: none;
    color: #1E387B;
    font-size: 1.5em;
}

footer a:hover {
    color: #0077B5;
}

.f-Rside {
    /* background-color: aliceblue; */
    margin-right: 30%;
    float: right;
    overflow: hidden;
}

.f-Lside {
    margin-left: 25%;
    float: left;
    overflow: hidden;
    color: #1E387B;
}

.fa-brands {
    padding-right: 15px;
}

.fa-facebook-f {
    color: #2FC2E2;
}

.fa-instagram-square {
    color: #CA3CA2;
}

.fa-twitter {
    color: #00B6F1;
}

.fa-linkedin-in {
    color: #0077B5;
}

.container {
    width: 100%;
    min-height: 77.5vh;
    /* background-color: #1E387B; */
    justify-content: center;
    align-items: center;
    display: flex;
}

div .login-frm {
    /* background: rgba(0, 182, 241, 0.2); */
    padding: 60px;
    /* margin-left: 35%;
    margin-top: 10%; */
    width: 30%;
    height: auto;
    border-radius: 20px;
    position: absolute;
    color: #1E387B;
    box-shadow: -1px 1px 10px rgba(30, 56, 123, 0.2);
}

.login-frm input,
label {
    font-size: 2em;
    color: #1E387B;
}

.login-frm h1 {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 3em;
    align-items: center;
}

#submit-bttn input {
    color: #1E387B;
    font-size: 2em;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 40px;
    border: 1px solid #1E387B;
    background-color: #fff;
}

#submit-bttn input:hover {
    background-color: #1E387B;
    color: #fff;
}

#submit-bttn {
    padding-top: 55px;
}

#username,
#password {
    border-radius: 15px;
    border: 1px solid #1E387B;
}